{
    "presets": [
        [
            "@babel/env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "> 1%",
                        "last 2 versions",
                        "not ie <= 8"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        // 配置使之支持 async...await... 语法
        "@babel/plugin-transform-regenerator",
        "@babel/plugin-transform-runtime"
    ]
}